.info3-container{
    margin-top: 20px;
    margin-left: 72px;
    width: 100%;
    height: 537px;
    display: none;
}
table {
    width: 1064px;
    height: 384px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    border: 1px solid #E6E8F0;
}
.d1{
    font-weight: bold;
    background: #F8F8F8;

}
.d11{
    font-weight: bold;
    background: #F8F8F8;
    text-align: center;

}
table tr td{
    padding: 0 20px;
}
tr:nth-child(odd) {
    background-color: #F9FAFA;
}
.td{
    text-align: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4787A2;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4787A2;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  p{
      color: red;
  }
  .nav-tabs{
    background-color: #E6E8F0;
  }
  .nav-link{
    color: #323338;
  }
  .nav-link:hover{
    color: #4B91AF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }