.menu-bar{
  width: 100%;
  min-height: 100vh;
  background-color: #F8F8F8;

}
.logo-small{
  width: 80%;
  height: 79px;
  background-image: url('./imgMenu/logo-small.png');
}
.menu{
  margin-left: 24px;
  width: 82%;
  height: 740px;
}
.dashboard{
  position: relative;
  width: 100%;
  height: 52px;
  background-color: #4787A2;
  border-radius: 8px;
  
}
.dash-img{
  position: absolute;
  top: 12px;
  width: 198px;
  height: 28px;
  background-image: url('./imgMenu/dashboard.png');
  left: 24px;
}

.accordion-item{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: #8F919A;
}
.accordion-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;

}
.accordion-item button{
    width: 100%;
    height: 60px;
    border: none;
    background-color: #F8F8F8;
    text-align: left;
    color: #8F919A;
    margin-top: 10px;
}
.accordion-flush .accordion-item{
  background-color: #F8F8F8;
  border: none;
}
.accordion-flush .accordion-item:hover{
  border-radius: 8px;
}
.accordion-button:not(.collapsed){
  color: white;
  background-color: #4787A2;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius: 8px;
}

.accordion-item button:hover{
    background-color: #4787A2;
    color: white;
    border-radius: 8px;
}
.accordion-item button:hover i{
    color: white;
    background-color: #4787A2;
}
.accordion-item i{
    margin: 10px 10px;
}
.accordion-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-body{
    color: #8F919A;
    margin-left: 30px;
    line-height: 50px;
}
.icn{
  position: absolute;
  right: 5px;
}
.icn::after{
  transform: rotate(-180deg);
}
.accordion-body li {
  text-decoration: none;
}
.accordion-body li a{
  text-decoration: none;
 
}
.accordion-body li a:hover {
    color: #4B91AF;
    cursor: pointer;
  text-decoration: underline;

}
.accordion-body li a {
  color: #8F919A;
}
.accordion-body li a:hover  {
  color: #4787A2;
}
.list li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.end{
  position: fixed;
  bottom: 0px;
  width: 16.6%;
  height: 56px;
  background-image: url('./imgMenu/end.png');
}