.top-main{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-left{
    list-style-type: none;
    padding: 0px;
}
.menu-left li{
    display: inline;
    padding: 0px;
}
.pr{
    margin-left: 60px;
}
.aa{
    color: #676879;
}
.menu-right{
    list-style-type: none;
}
.menu-right li{
    display: inline;
    padding: 0 20px;
}
.fas , .far{
    cursor: pointer;
}