.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
}
.fade {
    transition: opacity .15s linear;
}
.offcanvas.show {
    transform: none;
}
.offcanvas-end {
    top: 0;
    right: 0;
    width: 400px;
    border-left: 1px solid rgba(0,0,0,.2);
    transform: translateX(100%);
}
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    outline: 0;
    transition: transform .3s ease-in-out;
}
.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.offcanvas-header .btn-close {
    padding: 0.5rem;
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.pd{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
    color: black;
  }
  .ind{
      margin-left: 20px;
      border-radius: 8px;
      border: 1px solid #ccc;
  }
  .department{
    width: 85%;
    margin-left: 20px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.check{
    margin-left: 20px;
    margin-top: 50px;
    width: 85%;
    height: 252px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(16, 24, 64, 0.08);
}
.custom-checkbox{
    margin-top: 10px;
    margin-left: 10px;
}
.ae{
    width: 20px;
    height: 20px;
}
.insea{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 90%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.r2{
    margin-left: 20px;
    border-radius: 8px;
}
.r1{
    background-color: #F8F8F8;
    margin-left: 0;
    width: 100%;
    border-radius: 8px;
}
.but{
    margin-left: 20px;
    margin-top: 20px;
    width: 20%;
    height: 50px;
}
.nvn {
    width: 100%;
    margin: 15px 25px;
    border-radius: 8px;
    border: 1px solid #D8DAE5;
    height: 35px;
    padding-left: 20px;
}
.newuser{
    margin-left: 89.8%;
}
.tb1{
    width: 100%;
    line-height: 40px;
    border-radius: 4px;
}
.status{
    width: 100%;
    margin: 15px 15px;
    border-radius: 8px;
    border: 1px solid #D8DAE5;
    height: 35px;
    padding-left: 20px;

}
.sear{
    width: 100%;
    margin: 15px 0px;
    border-radius: 8px;
    border: 1px solid #D8DAE5;
    height: 35px;
    background-color: #4B91AF;
    cursor: pointer;
}
.sear:hover{
    background-color: #4B91AF;
}
.row1{
    background-color: #E9E9E9;
    width: 100%;
    margin-left: 0px;
}
.row2{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #101840;
    padding: 0;
}
.row3{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #474D66;
}
table tr:nth-child(odd) {
    background-color: #F9FAFA;
}
.row3 a{
    color: #4B91AF;
}
.page{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rowper{
    color: #474D66;
    margin: 10px 50px;
}
.pagination{
    margin: 15px 20px;
    color: #474D66;
}
.page-link {
    color: #474D66;
}
.indi{
        margin-left: 20px;
      border-radius: 4px;
      border: 1px solid #ccc;
      color: #8F95B2;
}